<!DOCTYPE html>
<html lang="ko"xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title> YoungEnbics Inc. </title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" href="css/common.css">
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/rollmain.js"></script>
	<script src="js/jquery.easing.js"></script>
	<script src="js/common.js"></script>
	<script src="js/jquery.smooth-scroll.min.js"></script>
	<!--[if lte IE 9]>
    <script src="js/html5shiv.js"></script>
	<script src="js/placeholders.min.js"></script>
<![endif]-->
</head>

<body>
	<ul class="skipnavi">
		<li><a href="#container">본문내용</a></li>
	</ul>
	<!-- wrap -->
	<div id="wrap">

		<header id="header">
			<div class="header_area box_inner clear">
				<h1><a href="/main.do">YoungEnbics Inc.</a></h1>
				<p class="openMOgnb"><a href="#"><b class="hdd">메뉴열기</b> <span></span><span></span><span></span></a></p>
				<!-- header_cont -->
				<div class="header_cont">
					<ul class="util clear">
						<li sec:authorize="isAnonymous()"><a href="/login">로그인</a></li>
						<li sec:authorize="isAuthenticated()"><a href="/logout">로그아웃</a></li>
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/join.do">회원가입</a></li>
					</ul>
					<nav>
						<ul class="gnb clear">
							<li><a href="javascript:;" class="openAll1">회사소개</a>
								<div class="gnb_depth gnb_depth2_1">
									<ul class="submenu_list">
										<li><a href="javascript:;">인사말</a></li>
										<li><a href="javascript:;">회사연혁</a></li>
									</ul>
								</div>
							</li>
							<li><a href="javascript:;" class="openAll2">중점사업</a>
								<div class="gnb_depth gnb_depth2_2">
									<ul class="submenu_list">
										<li><a href="javascript:;">Environment</a></li>
										<li><a href="javascript:;">NanoTechnology</a></li>
										<li><a href="javascript:;">BioTechnology</a></li>
										<li><a href="javascript:;">Culture</a></li>
										<li><a href="javascript:;">Space</a></li>
									</ul>
								</div>
							</li>
							<li><a href="javascript:;" class="openAll3">IT</a>
								<div class="gnb_depth gnb_depth2_3">
									<ul class="submenu_list">
										<li><a href="javascript:;">AI</a></li>
										<li><a href="javascript:;">IoT</a></li>
										<li><a href="javascript:;">Cloud</a></li>
										<li><a href="javascript:;">BigData</a></li>
										<li><a href="javascript:;">Mobile</a></li>
									</ul>
								</div>
							</li>
							<li><a href="javascript:;" class="openAll4">CONTACT</a>
								<div class="gnb_depth gnb_depth2_4">
									<ul class="submenu_list">
										<li><a href="javascript:;">공지사항</a></li>
										<li><a href="javascript:;">문의하기</a></li>
										<li><a href="javascript:;">게시판</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</nav>
					<p class="closePop"><a href="javascript:;">닫기</a></p>
				</div>
				<!-- //header_cont -->
			</div>
		</header>

		<div id="container">

		</div>
		<!-- //container -->

		<footer>
			<div class="foot_area box_inner">
				<ul class="foot_list clear">
					<li><a href="javascript:;">이용약관</a></li>
					<li><a href="javascript:;">개인정보취급방침</a></li>
				</ul>
				<h2>YoungEnbics Inc.</h2>
				<p class="addr"><span class="br_line">부산광역시 금정구 식물원로 9번길 16, 401호 </span><span class="gubun">/</span>
					<span class="br_line">대표이사 : 송춘곤</span><span class="gubun">/</span>
					<span class="br_line">대표전화 : 010-2584-5616 </span>
					<br>
					<span class="br_line">E-mail : enbics@enbics.com </span><span class="gubun">/</span>
					<span class="br_line"> 사업자등록번호 : 263-88-02209</span>
				</p>
				<p class="copy box_inner">Copyright(c) YoungEnbics Inc.</p>
				<ul class="snslink clear">
					<li><a href="javascript:;">blog</a></li>
					<li><a href="javascript:;">facebook</a></li>
					<li><a href="javascript:;">instargram</a></li>
				</ul>
			</div>
		</footer>

	</div>
	<!-- //wrap -->
</body>

</html>